streamlit
langchain
langchain-community
langchain-openai
langchain-text-splitters
openai
pypdf
faiss-cpu
python-dotenv
pydantic
langchain-huggingface
sentence-transformers
langchain-ollama
langchain-google-genai